{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    - Jobs
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="w-75 mb-2">
                <h2 class="page-title text-center">Jobs</h2>
            <hr class="w-75 mt-2">
        </div>
    </div>
</div>
{% for job in jobs %}
        <div class="container mb-5">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-title">{{ job.job_name }}</div>
                        <div class="card-txt "><i class="fa-solid fa-wallet"></i> Salary</div>
                        <div class="card-txt">Expected start date</div>
                        <div class="card-txt">Job Department</div>
                        <div class="card-body">Job Description</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-5">
            <div class="row mb-5 mt-5">
                <div class="col-12 mb-5 mt-5">
                    <p class="text-center m-5">Unfortunately there are currently no job opportunities. 
                        Please check back regularly if you are interested in working for us. </p>
                </div>
            </div>
        </div>
{% endfor %}
{{ job.job_name }}
{% endblock %}

{% block padding %}
<div class="container">
    <div class="row">
        <div class="jobs-padding-container"></div>
    </div>
</div>
{% endblock %}