{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_title %}
    - Jobs
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="w-75 mb-2">
                <h2 class="page-title text-center">Jobs</h2>
            <hr class="w-75 mt-2">
            <p class="text-muted text-center">Check out our latest positions to join our team</p>
        </div>
    </div>
</div>
{% for job in paginate %}
        <div class="container mb-5 mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="card shadow border border-dark rounded-0">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-title">
                                    <p class="text-center mt-2 h2 font-weight-bold">
                                        {{ job.job_name }}
                                    </p>
                                    <hr class="w-75">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 ml-3">
                                <div class="card-txt mb-1"><i class="fa-solid fa-wallet"></i> Salary: <span class="font-weight-bold">£ {{ job.job_salary|intcomma }}</span></div>
                                <div class="card-txt mb-1"><i class="fa-solid fa-clock"></i> Expected Start: <span class="font-weight-bold">{{ job.job_start }}</span></div>
                                <div class="card-txt"><i class="fa-solid fa-warehouse"></i> Department: <span class="font-weight-bold">{{ job.job_category.friendly_name }}</span></div>
                            </div>
                            <div class="col-6">

                                <div class="card-body">{{ job.job_desc}}</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <hr class="w-75">
                            <div class="col-12 text-right">
                                <a href="{% url 'apply' %}" class="btn btn-outline-black mr-3" rel="opener" aria-label="Opens the job application">Apply Now! <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
{% endfor %}
{% endblock %}

{% block padding %}
<div class="container">
    <div class="row">
        <div class="jobs-padding-container"></div>
    </div>
</div>
{% endblock %}