{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}

{% block extra_title %}
    - Roadmap
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="w-75 mb-2">
                <h2 class="page-title text-center">Roadmap</h2>
            <hr class="w-75 mt-2">
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-5">
        <div class="col-12">
            <p class="text-center">
                Our development roadmap. Currently featuring everything we have accomplished as a 
                company and everything we wish to accomplish.
            </p>
            <hr class="w-50">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <h4>Phase 1: <small class="fs-6 text-muted">Launched: 31/12/2023</small></h4>
            <div class="row text-center mt-4">
                <div class="col-lg-4 col-md-4">
                    <ul class="phase-list">
                        <li>Store Application √</li>
                        <li>Email List Registration √</li>
                        <li>Jobs Board √</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4">
                    <ul class="phase-list">
                        <li>Profiles Application √</li>
                        <li>Announced Don't GnocchIt √</li>
                        <li>Roadmap √</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4">
                    <ul class="phase-list">
                        <li>Secure Payments √</li>
                        <li>Launched In Essex √</li>
                    </ul>
                </div>
            </div>
            <hr class="w-75">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <h4>Phase 2: <small class="fs-6 text-muted">Current Phase</small></h4>
            <div class="row text-center mt-4">
                <div class="col-6">
                    <ul class="phase-list">
                        <li>Developer Blog</li>
                        <li>Recipe Blog</li>
                        <li>New Product Categories</li>
                        <li>Region Expansion</li>
                        <li>Quick add to basket</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="phase-list">
                        <li>Favorites List</li>
                        <li>Vendor Accounts/Dashboard</li>
                        <li>Dark Mode</li>
                        <li>User Product Reviews</li>
                        <li>Launch FAQ'S</li>
                        <li>Custom Delivery Schedule</li>
                    </ul>
                </div>
            </div>
            <hr class="w-75">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <h4>Phase 3: <small class="fs-6 text-muted">Future Development</small></h4>
            <div class="row text-center mt-4">
                <div class="col-6">
                    <ul class="phase-list">
                        <li> Launch Don't GnocchIt</li>
                        <li>Launch in 10 New Regions</li>
                        <li>New Product Categories</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="phase-list">
                        <li>Direct Supplier Messaging</li>
                        <li>Live Support Chats</li>
                        <li><strong>Localitty</strong> mobile app</li>
                    </ul>
                </div>
            </div>
            <hr class="w-75">
        </div>
    </div>
</div>
{% endblock %}

{% block padding %}
<div class="container">
    <div class="row">
        <div class="padding-container"></div>
    </div>
</div>
{% endblock %}
