{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}

{% block extra_title %}
    - Checkout
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="w-75 mb-2">
                <h2 class="page-title text-center">Checkout</h2>
            <hr class="w-75 mt-2">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="table-responsive rounded"></div>
            {% else %}
                <p class="lead">Your shopping cart is currently empty!</p>
                <small class="mb-3 text-muted">Please click below to continue shopping and add items to your cart.</small><br>
                <a href="{% url 'shop' %}" aria-label="Send the user back to the main shopping page" class="btn rounded-0 btn-lg">
                    <span class="icon-bag">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping!</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block padding %}
<div class="container">
    <div class="row">
        <div class="padding-container"></div>
    </div>
</div>
{% endblock %}