/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Roboto+Mono:ital,wght@0,400;0,700;1,700&family=Roboto:wght@700&display=swap');

/* BASE HTML CLASSES  */

html {
    height: 100%;
}

body {
    font-family: 'Roboto Mono', monospace, sans-serif, 'Times New Roman', Times, serif;
    min-height: 100vh;
    padding: 0;
    height: calc(100vh - 90px);
    font-size: 14px;
}

footer {
    font-size: 12px;
    background-color: #232f3e;
}

a {
    color: #444544;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

a.cat-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* HELPER CLASSES */

.text-black {
    color: black !important;
}

.text-white {
    color: white;
}

.t-bold {
    font-weight: 900;
}

.hr-w {
    background-color: white;
}

.size-14 {
    font-size: 14px;
}

.icon {
    color: black;
    font-size: 0.7rem;
}

.checkout-icon {
    color: black;
    font-size: 0.7rem;
}

.user-history:hover {
    color: #1ed0eb;
}

.support:hover {
    color: #dc3545;
}

.text-balance {
    text-wrap: balance;
}

.text-white:hover {
    color: #fff !important;
    text-decoration: none;
}

.email-text {
    font-size: medium;
}

/* NAVIGATION */

.nav-border {
    border-bottom: 2px solid #dee2e6;
}

/* FOOTER  */

.git-link {
    color: white;
    font-size: 1.4rem;
}

.footer-block {
    height: 5px;
    background-color: black;
}

.f-bg {
    background-color: #444544;
    color: white;
    font-size: 12px;
}

/* BASE/INDEX PAGE  */

.mission {
    font-size: 1.1rem;
}

.main-img-container {
    height: 500px;
    margin-bottom: 3rem;
}

.img-main {
    height: 470px;
    width: 450px;
}

.img-container {
    height: 320px;
}

/* ROADMAP PAGE */

.phase-list {
    list-style-type: none;
}

/* PADDING CLASSES */

.profile-padding {
    height: 6.7rem;
}

.email-padding {
    height: 9rem;
}

.padding-container {
    height: 8rem;
}

.extra-padding-container {
    height: 19.7rem;
}

.auth-padding-container {
    height: 14rem;
}

.email-auth-padding-container {
    height: 9rem;
}

.jobs-padding-container {
    height: 16rem;
}

.emailconfirm-auth-padding-container {
    height: 21.4rem;
}

.pass-auth-padding-container {
    height: 17rem;
}

/* ORDERS */

.order-history {
    max-height: 400px;
    overflow-y: auto;
}

/* STORE  */

.product-edit {
    color: rgb(0, 219, 219);
}

.product-edit:hover {
    color: rgb(0, 156, 156);
}

.card-img {
    overflow: hidden;
    margin: 0 auto;
}

.img-zoom {
    transition: 2s all ease-in-out;
    overflow: hidden;
}

.img-zoom:hover {
    transform: scale(1.5);
    overflow: hidden;
}

/* ADMIN DASHBORAD */

.preview-container {
    height: 4.4rem;
    max-width: 100%;
    margin-bottom: 2rem;
}

.total-orders, 
.total-products, 
.total-revenue {
    color: white;
    border-radius: 12px;
    max-width: 12rem;
    height: 5rem;
    padding-top: 10px;
}

.total-orders > a,
.total-products > a,
.total-revenue > a  {
    text-decoration: underline;
}

.total-orders {
    background-color: #6d81fe;
    color: whitesmoke;
}

.total-products {
    background-color: #6d81fe;
}

.total-revenue {
    background-color: #6d81fe;
}

.product-hover:hover {
    color: rgb(0, 219, 219);
}

.a-order-history {
    max-height: 250px;
    overflow-y: auto;
}
/* CHECKOUT */

.checkout-icon:hover {
    color: white;
    font-size: 0.7rem;
}

.icon-loading {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.icon-bag {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.6rem;
    width: 1.6rem;
}

.icon-link {
    color: black;
}

/* BUTTON STYLING  */

.t-btn-cursor {
    cursor: pointer;
}

.btn-paginate {
    background: white;
    color: black !important;
    border: 1px solid black;
    padding: 3px 2px 3px 2px;
}

.btn-paginate:hover,
.btn-paginate:active,
.btn-paginate:focus {
    background: #444544;
    color: white !important;
}

.product-nav:hover {
    color: black !important;
}

.list-group-item-action:hover {
    background: #6c757db4;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1.5px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #444544;
    color: white !important;
}

.btn-logout {
    background: white;
    color: black !important;
    border: 1.5px solid black;
}

.btn-logout:hover,
.btn-logout:active,
.btn-logout:focus {
    background: #c72f3e;
    color: white !important;
}

.btn-pass-reset:hover {
    color: #dc3545;
}

.btn-toast {
    background: rgb(197, 197, 197);
}

.btn-toast:hover,
.btn-toast:active,
.btn-toast:focus {
    background-color: #444544;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background-color: #444544;
    color: white;
}

.text-black {
    font-weight: bold;
    text-transform: capitalize;
    color: black !important;
    font-size: medium;
}

.t-btn {
    width: 35px;
    height: 35px;
    padding: 4px;
}

.t-btn:hover {
    background-color: #777777;
}

/* TOASTS */

.y-bg {
    background: yellow;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.message-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* SUPPLIER SLIDER  */

@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.supplier-slider {
    background: white;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}
.supplier-slider::before, .supplier-slider::after {
    background: linear-gradient(to right, rgba(300, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.supplier-slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.supplier-slider::before {
    left: 0;
    top: 0;
}
.supplier-slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.supplier-slider .slide-img {
    height: 80px;
    width: 200px;
}

.slide-img {
    margin-left: 15px;
    margin-right: 15px;
}


/* MEDIA QUERY */

@media (min-width:1200px) {

    .padding-container {
        height: 11rem;
    }
}

@media (min-width: 992px) {

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 90px;
    }
}

@media (max-width: 991px) {

    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .supplier-slider {
        max-width: 80%;
    }
     
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

@media screen and (max-width: 900px) {

    .main-text-right {
        margin-top: 13rem;
    }    

    .mailing-list {
        margin-top: 8rem;
        margin-left: 6rem;
        text-wrap: balance;
    }
    
    .f-md-margin {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .padding-container {
        height: 2rem;
    }
}

@media screen and (max-width: 770px) {

    .sm-m-l {
        margin-left: 8rem;
    }

    .total-orders, 
    .total-products, 
    .total-revenue {
        max-width: 7rem;
        height: 5rem;
        padding-top: 4px;
        padding-left: 4px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .admin-buttons {
        margin-left: 2.5rem;
    }

    .review-card {
        margin-bottom: 2rem;
    }

    .mission {
        text-wrap: balance;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .sm-m {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 532px) {

    .mailing-list {
        margin-top: 3rem;
        margin-left: 4rem;
    }

    .sm-screen {
        max-width: 20rem;
        padding-right: 4rem;
    }

    .main-text-right {
        margin-top: 5rem;
    }

    .sm-m-l {
        margin-left: 7rem;
    }

    .order-history {
        max-height: 400px;
        max-width: 95%;
        overflow-y: auto;
    }

    .header-container {
        padding-top: 160px;
    }

}

@media screen and (max-width: 400px) {

    .mailing-list {
        margin-top: 1rem;
        margin-left: 2rem;
    }

    .sm-screen {
        max-width: 20rem;
        padding-right: 4rem;
    }

    .main-text-right {
        margin-top: 5rem;
    }

    .img-container {
        margin-bottom: -3rem;
    }

    .header-container {
        padding-top: 180px;
    }
}
