@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto+Mono&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Roboto Mono', monospace, sans-serif, 'Times New Roman', Times, serif;
    min-height: 100vh;
    padding: 0;
    height: calc(100vh - 90px);
    font-size: 14px;
}

.text-black {
    color: black !important;
}

.text-white {
    color: white;
}

.nav-border {
    border-bottom: 2px solid #dee2e6;
}

.t-bold {
    font-weight: bold;
}

footer {
    font-size: 12px;
    background-color: #232f3e;
}

.hr-w {
    background-color: white;
}

.pt-18 {
    padding-top: 18%;
}

.size-14 {
    font-size: 14px;
}

.footer-block {
    height: 5px;
    background-color: black;
}

.git-link {
    color: white;
    font-size: 1.4rem;
}

.f-bg {
    background-color: #444544;
    color: white;
    font-size: 12px;
}

/* MEDIA QUERY */

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 90px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}