{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}

{% block extra_title %}
    - My Profile
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="mb-2">
                <h2 class="page-title">Admin Dashboard</h2>
            <hr class="mt-2">
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="preview-container text-center row">
        <div class="col-4">Total Orders</div>
        <div class="col-4">Products</div>
        <div class="col-4">Revenue</div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row text-center mb-5">
                <div class="col-5">Orders</div>
                <div class="col-5">Product Admin</div>
            </div>
            <div class="row text-center mb-5">
                <div class="col-5">Beta features <small class="text-muted">(Beta)</small>Dissable buttons</div>
                <div class="col-5">Button 2</div>
            </div>
            <div class="row text-center mb-5">
                <div class="col-5">Buttons 1</div>
                <div class="col-5">Buttons 2</div>
            </div>
            <div class="row text-center mb-5">
                <div class="col-5">Account Password</div>
                <div class="col-5">Account Email</div>
            </div>

        </div>
        <div class="col-6">
            ORDERS HISTORY LIST PAGINATED
            ORDER NUM, DATE, PRICE
        </div>
    </div>
</div>
{% endblock %}

{% block padding %}
<div class="container">
    <div class="row">
        <div class="padding-container"></div>
    </div>
</div>
{% endblock %}