{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    - Product Managment
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-4 pt-5">
            <div class="col-6">
                <h2 class="page-title">Product Managment</h2>
            </div>
            <div class="col-6">
                <a href="{% url 'add_product' %}" aria-label="Send the user to the add new product page. To create a new product on the store." class="btn btn-outline-black offset-md-6">New Product<i class="fas fa-chevron-right"></i></a>
            </div>
        <hr class="mt-2">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-lg order-history">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in paginate %}
                            <tr>
                                <td><a class="product-hover" href="{% url 'product_detail' product.id %}" aria-label="Opens the product detail view for the selected product">{{ product.name|truncatechars:35 }}</a></td>
                                <td>{{ product.category }}</td>
                                <td><strong>£{{ product.price }}</strong></td>
                                <td><a href="{% url 'edit_product' product.id %}" class="product-edit" aria-label="Allows the admin to edit the selected product"><i class="fas fa-pencil"></i> Edit</a></td>
                                <td><a href="{% url 'delete_product' product.id %}" class="text-danger" aria-label="Allows the admin to delete the selected product"><i class="fas fa-trash"></i> Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr class="w-75">
<div class="row text-center">
    <div class="col-6">
        {% if paginate.has_previous %}
        <div class="col-12 ml-5">
            <a href="?page=1" class="btn-paginate p-1">FIRST</a>
            <a href="?page={{paginate.previous_page_number}}" class="btn-paginate p-1 ml-3"><i class="fas fa-chevron-left"></i>PREV</a>
        </div>
        {% endif %}
    </div>
    <div class="col-6 align-self-end">
        {% if paginate.has_next %}
        <div class="col-12 mr-5">
            <a href="?page={{paginate.next_page_number}}" class="btn-paginate p-1 mr-3">NEXT <i class="fas fa-chevron-right"></i></a>
            <a href="?page={{paginate.paginator.num_pages}}" class="btn-paginate p-1">LAST</a>
        </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-12 text-center mt-4">
        <p class="text-muted">Current page: {{ paginate.number }} of {{ paginate.paginator.num_pages }}</p>
    </div>
</div>
<div class="row mt-4 mb-5">
    <div class="container mt-5">
        <a href="{% url 'admin' %}" aria-label="Send the user back to the admin page" class="btn btn-outline-black"><i class="fas fa-chevron-left"></i> Back</a>
    </div>
</div>

{% endblock %}

