{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}

{% block extra_title %}
    - My Profile
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="mb-2">
                <h2 class="page-title">My Profile: {{ user }}</h2>
            <hr class="mt-2">
        </div>
    </div>
</div>
<div class="row mt-4 mb-4"></div>
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-m-l">
            <div class="row text-center mb-5">
                <div class="col-7">
                    <a href="{% url 'order_history' %}" aria-label="Opens the users previous orders page" 
                    class="btn btn-outline-black w-100">Order History
                    <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="row text-center mb-5">
                <div class="col-7">
                    <a href="{% url 'delivery_information' %}" aria-label="Opens the users previous orders page" 
                    class="btn btn-outline-black w-100">Delivery Information 
                    <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="row text-center mb-5">
                <div class="col-7">
                    <a href="#" aria-label="Opens the users previous orders page" 
                    class="btn btn-outline-black w-100" aria-disabled="true">Favorites <small class="text-muted">(Beta)</small> 
                    <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="row text-center mb-5">
                <div class="col-7">
                    <a href="{% url 'support' %}" aria-label="Opens the users previous orders page" 
                    class="btn btn-outline-black w-100">Support 
                    <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="row text-center mb-5">
                <div class="col-7 ">
                    <nav class="navbar navbar-expand-lg navbar-light w-100">
                        <button class="navbar-toggler btn btn-outline-black" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle Navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse text-center" id="main-nav">
                            <ul class="navbar-nav w-auto mx-auto">
                                <li class="nav-item dropdown">
                                    <a class="btn btn-outline-black" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Account Managment <i class="fas fa-chevron-down"></i>
                                    </a>
                                    <div class="dropdown-menu border-1" aria-labelledby="all-products-link">
                                        <a href="{% url 'account_change_password' %}" class="dropdown-item">Change Password</a>
                                        <a href="{% url 'account_email' %}" class="dropdown-item ">Change Email</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h5>Order History:</h5>
            <div class="table-responsive order-history">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_confirmation' order.order_number %}" aria-label="Opens a confirmation page for the selected order" class="user-history" title="{{ orders.order_number }}">{{ order.order_number|truncatechars:7 }}</a>
                                </td>
                                <td>{{ order.date}}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.newitem.all %}
                                            <li class="small">
                                                {{ item.product.name }} X {{ item.quantity }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td><strong>£{{ order.grand_total }}</strong></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="profile-padding"></div>
</div>
{% endblock %}

