{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}

{% block extra_title %}
    - My Profile
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="mb-2">
                <h2 class="page-title">My Profile: USERNAME</h2>
            <hr class="mt-2">
        </div>
    </div>
</div>
<div class="row mt-4 mb-4"></div>
<div class="container mt-4">
    <div class="row">
        <div class="col-6">
            <div class="row text-center mb-5">
                <div class="col-7">
                    <a href="#" aria-label="Opens the users previous orders page" 
                    class="btn btn-outline-black w-100">Previous Orders 
                    <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="row text-center mb-5">
                <div class="col-7">
                    <a href="#" aria-label="Opens the users previous orders page" 
                    class="btn btn-outline-black w-100">Billing Information 
                    <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="row text-center mb-5">
                <div class="col-7">
                    <a href="#" aria-label="Opens the users previous orders page" 
                    class="btn btn-outline-black w-100">Favorites <small class="text-muted">(Beta)</small> 
                    <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="row text-center mb-5">
                <div class="col-7">
                    <a href="#" aria-label="Opens the users previous orders page" 
                    class="btn btn-outline-black w-100">Support 
                    <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="row text-center mb-5">
                <div class="col-7">
                    <a href="#" aria-label="Opens the users previous orders page" 
                    class="btn btn-outline-black w-100">Account Management DropDown
                    <i class="fas fa-chevron-down"></i></a>
                </div>
            </div>

        </div>
        <div class="col-6">
            ORDERS HISTORY LIST PAGINATED
            ORDER NUM, DATE, PRICE
        </div>
    </div>
</div>
<div class="row">
    <div class="profile-padding"></div>
</div>
{% endblock %}

