<script>

// Handles the bag updating of item removal and quantity updates

/**
 * Updates the item quantity on click
 */
$('.update-link').click(function(e) {
    var form = $(this).prev('.update-form');
    form.submit();
})

/**
 * Handles the removal of an item from the bag
 */
$('.remove-item').click(function(e) {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr('id').split('remove_')[1];
    var url = `/bag/remove/${itemId}/`;
    var data = {'csrfmiddlewaretoken': csrfToken, };

    $.post(url, data)
     .done(function() {
         location.reload();
     });
})
</script>