{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "- Account Inactive" %}{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block inner_content %}
<div class="container">
        <div class="row mt-2 mb-2">
            <div class="col">
                <hr class="w-75 mb-2">
                    <h2 class="page-title text-center">Inactive Account</h2>
                <hr class="w-75 mt-2">
            </div>
        </div>
        <div class="row mb-5 mt-5 text-center">
            <div class="col mb-5">
                <h5>Your account <strong>{{ user }}</strong> appears to be inactive?</h5><br>
                <h5>If this is a mistake please contact <a href="{% url 'support' %}" aria-label="Opens the support account">Support</a></h5><br>
                <h5>If you don't have an account and wish to make one.</h5>
                <div class="row text-center">
                    <div class="col-12 mt-3">
                        <a class="btn btn-outline-black" href="{% url 'account_signup' %}">Sign Up here <i class="fas fa-chevron-right"></i></a><br>
                    </div>    
                </div>
            </div>
        </div>
</div>
{% endblock inner_content %}

{% block padding %}
<div class="container">
    <div class="row">
        <div class="auth-padding-container"></div>
    </div>
</div>
{% endblock %}
