{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block extra_title %}{% trans "- Confirm Email Address" %}{% endblock extra_title %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block inner_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="w-75 mb-2">
                <h2 class="page-title text-center">Confirm Your Email</h2>
            <hr class="w-75 mt-2">
        </div>
    </div>
  </div>
{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

{% if can_confirm %}
<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
{{ form|crispy }}
    <button type="submit">{% trans 'Confirm' %}</button>
</form>
{% else %}
<p>{% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}</p>
{% endif %}

{% else %}

{% url 'account_email' as email_url %}

<div class="row text-center">
    <div class="col-12 mt-5">
        <p>
            Sorry, it appears that this confirmation link has expired or is invalid. 
            Please request a new one to confirm your email.
        </p>
    </div>
</div>
<div class="row text-center mt-5 mb-5">
    <div class="col-4"><a class="btn btn-outline-black" aria-label="Send the user home"  href="{% url 'home' %}"><i class="fas fa-chevron-left"></i> Home</a></div>
    <div class="col-4"><a class="btn btn-outline-black" aria-label="Send the user to request a new password change link"  href="{% url 'account_change_password' %}"><i class="fas fa-chevron-left"></i> Reset your password</a></div>
    <div class="col-4"><a class="btn btn-outline-black" aria-label="Send the user back to the profile page" href="{% url 'profile' %}">My Profile <i class="fas fa-chevron-right"></i></a></div>
  </div>

{% endif %}

{% endblock inner_content %}

{% block padding %}
<div class="container">
    <div class="row">
        <div class="emailconfirm-auth-padding-container"></div>
    </div>
</div>
{% endblock %}
