{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "- Change Password" %}{% endblock extra_title %}

{% block inner_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="w-75 mb-2">
                <h2 class="page-title text-center">Change your password</h2>
            <hr class="w-75 mt-2">
        </div>
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class="col-12">
        <p>Click below to reset your password</p>
    </div>
  </div>

    <form class="text-center mt-5 mb-5" method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.|crispy }}
        <a class="btn btn-outline-black" href="{% url 'home' %}"><i class="fas fa-chevron-left"></i> Home</a>
        <a class="btn btn-outline-black" href="{% url 'account_reset_password' %}">Change your Password <i class="fas fa-chevron-right"></i></a>
    </form>

{% if from_profile %}
    <div class="col-6">
    <div class="row mt-4 mb-5">
        <div class="container mt-5">
            <a href="{% url 'profile' %}" aria-label="Send the user back to the Profile page" class="btn btn-outline-black"><i class="fas fa-chevron-left"></i> My Profile</a>
        </div>
    </div>
    </div>
{% else %}
    <div class="col-6">
    <div class="row mt-4 mb-5">
        <div class="container mt-5">
            <a href="{% url 'admin' %}" aria-label="Send the user back to the admin page" class="btn btn-outline-black"><i class="fas fa-chevron-left"></i> Back</a>
        </div>
    </div>
    </div>
{% endif %}

{% endblock %}

{% block padding %}
<div class="container mt-5 mb-4">
    <div class="row">
        <div class="auth-padding-container mb-5"></div>
    </div>
</div>
{% endblock %}