{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "- Set Password" %}{% endblock extra_title %}

{% block inner_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="w-75 mb-2">
                <h2 class="page-title text-center">Reset your Password</h2>
            <hr class="w-75 mt-2">
        </div>
    </div>
  </div>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock inner_content %}

{% block padding %}
<div class="container">
    <div class="row">
        <div class="auth-padding-container"></div>
    </div>
</div>
{% endblock %}

