{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "- Change Password" %}{% endblock head_title %}

{% block inner_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="w-75 mb-2">
                <h2 class="page-title text-center">Password Reset</h2>
            <hr class="w-75 mt-2">
        </div>
    </div>
  </div>
    <p>{% trans 'Your password is now changed.' %}</p>
{% endblock inner_content %}

{% block padding %}
<div class="container mb-5">
    <div class="row">
        <div class="padding-container mb-5"></div>
    </div>
</div>
{% endblock %}