{% extends "account/base.html" %}

{% load i18n %}
{% block extra_title %}{% trans "- Change Password" %}{% endblock extra_title %}

{% block inner_content %} 
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="w-75 mb-2">
                <h2 class="page-title text-center">Password Reset</h2>
            <hr class="w-75 mt-2">
        </div>
    </div>
  </div>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="row text-center text-balance">
            <div class="col-12 mt-5">
                <p>
                    The password reset link was invalid, possibly because it has already 
                    been used.  Please request a new
                    <a class="support" href="{{ passwd_reset_url }}">Password Reset</a>
                    Key.
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="padding-container"></div>
        </div>
    {% else %}
        <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
            {% csrf_token %}
            {{ form|crispy }}
            <input class=" mt-4 btn btn-outline-black" type="submit" name="action" value="{% trans 'Confirm New Password' %}"/>
        </form>
        <div class="row">
            <a href="{% url 'home' %}" class="ml-3 mt-3 btn btn-outline-black" aria-label="Send the user to the home page"><i class="fas fa-chevron-left"></i> Home</a>
        </div>
    {% endif %}
{% endblock inner_content %}

{% block padding %}
<div class="container mb-2">
    <div class="row">
        <div class="auth-padding-container mb-5"></div>
    </div>
</div>
{% endblock %}
