{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block extra_title %}{% trans "- Password Reset Request" %}{% endblock extra_title %}

{% block inner_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="w-75 mb-2">
                <h2 class="page-title text-center">Password Reset Request</h2>
            <hr class="w-75 mt-2">
        </div>
    </div>
  </div>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <div class="row text-center mt-5">
        <div class="col-12">
            <p>
                We have sent you an email as requested. If you have not received 
                it please check your <strong>spam folder</strong>. Otherwise please
                Contact us by clicking below.
            </p>
        </div>
    </div>
    <div class="row text-center mt-5 mb-5">
        <div class="col-4"><a class="btn btn-outline-black" aria-label="Send the user home"  href="{% url 'home' %}"><i class="fas fa-chevron-left"></i> Home</a></div>
        <div class="col-4"><a class="btn btn-outline-black" aria-label="Send the user to the support page" href="{% url 'support' %}"><i class="fas fa-chevron-left"></i> Support</a></div>
        <div class="col-4"><a class="btn btn-outline-black" aria-label="Send the user back to the profile page" href="{% url 'profile' %}">My Profile <i class="fas fa-chevron-right"></i></a></div>
    </div>
{% endblock inner_content %}

{% block padding %}
<div class="container mb-5">
    <div class="row">
        <div class="auth-padding-container mb-5"></div>
    </div>
</div>
{% endblock %}
