{% extends "account/base.html" %}

{% load i18n %}
{% block extra_title %}{% trans "- Password Reset" %}{% endblock extra_title %}

{% block inner_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="w-75 mb-2">
                <h2 class="page-title text-center">Password Reset</h2>
            <hr class="w-75 mt-2">
        </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12 mt-4">
        <p>Your password has now been updated. Please return to the store to continue shopping</p>
    </div>
  </div>
  <div class="row text-center mt-5 mb-5">
    <div class="col-4"><a class="btn btn-outline-black" aria-label="Send the user home"  href="{% url 'home' %}"><i class="fas fa-chevron-left"></i> Home</a></div>
    <div class="col-4"><a class="btn btn-outline-black" aria-label="Send the user to the store page" href="{% url 'shop' %}"><i class="fas fa-shop"></i> Continue Shopping</a></div>
    <div class="col-4"><a class="btn btn-outline-black" aria-label="Send the user back to the profile page" href="{% url 'profile' %}">My Profile <i class="fas fa-chevron-right"></i></a></div>
  </div>
{% endblock inner_content %}

{% block padding %}
<div class="container mb-5">
    <div class="row">
        <div class="pass-auth-padding-container mb-5"></div>
    </div>
</div>
{% endblock %}