{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block extra_title %}{% trans "- Signup" %}{% endblock extra_title %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block inner_content %}
<div class="container">
  <div class="row">
      <div class="col">
          <hr class="w-75 mb-2">
              <h2 class="page-title text-center">Sign Up</h2>
          <hr class="w-75 mt-2">
      </div>
  </div>
</div>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}"><span class="btn btn-outline-black">Login Now! <i class="pr-2 fa-solid fa-arrow-right-from-bracket"></i></span></a>{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-outline-black pr-2" type="submit">{% trans "Sign Up" %} <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
</form>

{% endblock inner_content %}

{% block padding %}
<div class="container">
    <div class="row">
        <div class="padding-container"></div>
    </div>
</div>
{% endblock %}