{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "- Verify Your Email" %}{% endblock extra_title %}

{% block inner_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="w-75 mb-2">
                <h2 class="page-title text-center">Verify Your Email</h2>
            <hr class="w-75 mt-2 mb-5">
        </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12 mt-5 mb-5">
        <p class="text-balance email-text">
            We have sent an email to you for verification. 
            Follow the link provided to finalize the signup process.
            If you do not see the verification email in your main inbox, 
            check your spam folder. Please contact us if you do not receive 
            the verification email within a few minutes.
        </p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12 mb-5">
        <a class="btn btn-outline-black" href="{% url 'support' %}" aria-label="Opens the support page">Support <i class="fas fa-chevron-right"></i></a>
    </div>
  </div>
</div>

{% endblock inner_content %}

{% block padding %}
<div class="container mt-5">
    <div class="row">
        <div class="mt-2 auth-padding-container"></div>
    </div>
</div>
{% endblock %}