{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_title %}
    - Applications
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="w-75 mb-2">
                <h2 class="page-title text-center">Applications</h2>
            <hr class="w-75 mt-2">
        </div>
    </div>
</div>
{% for job in paginate %}
        <div class="container mb-5 mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="card border border-dark rounded-0 shadow">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-title">
                                    <p class="text-center mt-2 h2 font-weight-bold">
                                        {{ job.job.job_name }}
                                    </p>
                                    <hr class="w-75">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 ml-3">
                                <div class="card-txt"><i class="fa-solid fa-user "></i> Name: <span class="font-weight-bold">{{ job.name }}</span></div>
                                <div class="card-txt"><i class="fa-solid fa-envelope"></i> Email Address: <span class="font-weight-bold">{{ job.email }}</span></div>
                                <div class="card-txt"><i class="fa-solid fa-phone"></i> Phone Number: <span class="font-weight-bold">{{ job.phone_number }}</span></div>
                                <hr class="w-25">
                                <div class="card-txt"><i class="fa-solid fa-calendar-days"></i> Application Date: <span class="font-weight-bold">{{ job.date }}</span></div>
                            </div>
                            <div class="col-6">
                                <div class="card-body">{{ job.cover_letter }}</div>
                                <hr class="w-75">
                                <div class="card-body">Resume: <a class="btn btn-outline-black" rel="noopener" aria-label="Downloads applicants resume">Download{{ job.resume }}</a></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <hr class="w-75">
                            <div class="col-12 text-right">
                                <a href="{% url 'del_applicant' job.id %}" class="btn btn-outline-black mr-3 app-delete" rel="noopener" aria-label="Deletes the job application">Delete Applicant <i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
{% endblock %}

{% block padding %}
<div class="container">
    <div class="row">
        <div class="jobs-padding-container"></div>
    </div>
</div>
{% endblock %}