{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    - Job Application
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr class="w-75 mb-2">
                    <h2 class="page-title text-center">Apply To Work With Us</h2>
                <hr class="w-75 mt-2">
                <p class="text-muted mt-2">Fill out the form below and select which job interests you. And one of our team will be in touch.</p>
            </div>
        </div>
    </div>
    <div class="container mb-5 mt-3">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <form class="mb-5" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="rounded px-4 mb-2">
                        <legend class="fieldset-label small text-black px-1 w-auto mb-2">About You:</legend>
                        {{ form.name | as_crispy_field }}
                        {{ form.email | as_crispy_field }}
                        {{ form.phone_number | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded px-4 mb-2">
                        <legend class="fieldset-label small text-black px-1 w-auto mb-2">The Job:</legend>
                        {{ form.job | as_crispy_field }}
                        {{ form.cover_letter | as_crispy_field }}
                        {{ form.resume | as_crispy_field }}
                    </fieldset>
                    <button type="submit" class="ml-4 btn btn-outline-black rounded-0 mt-2">Apply Now! <i class="fas fa-chevron-right"></i></button>
                </form>
            </div> 
        </div>
    </div>
{% endblock %}