{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    - Job Application
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr class="w-75 mb-2">
                    <h2 class="page-title text-center">Apply To Work With Us</h2>
                <hr class="w-75 mt-2">
                <p class="text-muted mt-2">Fill out the form below and select which job interests you. And one of our team will be in touch.</p>
            </div>
        </div>
    </div>
    <div class="container mb-5 mt-3">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <form class="mb-5" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Name</label>
                        <input name="message_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="John Smith">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email address</label>
                        <input name="message_email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Phone Number</label>
                        <input name="message_number" type="text" class="form-control" id="exampleFormControlInput1" placeholder="01238764428">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Job</label>
                        <select name="select_option" class="form-control" id="exampleFormControlSelect1">
                          <option>Add jobs here</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Cover Letter</label>
                        <textarea name="message_body" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Resume</label>
                      </div>
                    <button type="submit" class="btn btn-outline-black rounded-0 mt-2">Apply Now! <i class="fas fa-chevron-right"></i></button>
                </form>
            </div> 
        </div>
    </div>
{% endblock %}