<div class="collapse navbar-collapse text-center" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold border-right border-left nav-link mr-5 pl-5 pr-5 product-nav" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'shop' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'shop' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'shop' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'shop' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold border-right nav-link mr-5 ml-1 pr-5 product-nav" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Proteins <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'shop' %}?category=chicken,beef,pork,lamb" class="dropdown-item">All Proteins</a>
                <a href="{% url 'shop' %}?category=chicken" class="dropdown-item ">Chicken</a>
                <a href="{% url 'shop' %}?category=beef" class="dropdown-item ">Beef</a>
                <a href="{% url 'shop' %}?category=pork" class="dropdown-item">Pork</a>
                <a href="{% url 'shop' %}?category=lamb" class="dropdown-item">Lamb</a>
                <a href="{% url 'shop' %}?category=seafood" class="dropdown-item">Seafood</a>
                <a href="{% url 'shop' %}?sortprice&direction=asc" class="dropdown-item">All Proteins</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="llogo-font font-weight-bold border-right nav-link mr-5 ml-1 pr-5 product-nav" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vegetables <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'shop' '}?category=root,greens,herbs" class="dropdown-item">All Vegetables</a>
                <a href="{% url 'shop' %}?category=root" class="dropdown-item">Root Vegetables</a>
                <a href="{% url 'shop' %}?category=vegetables" class="dropdown-item">Vegetables</a>
                <a href="{% url 'shop' %}?category=greens" class="dropdown-item">Green Vegetables</a>
                <a href="{% url 'shop' %}?category=herbs" class="dropdown-item">Herbs</a>
                <a href="{% url 'shop' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold border-right nav-link mr-5 ml-1 pr-5 product-nav" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plant Based <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'shop' %}?category=meats,dairy,grains" class="dropdown-item">All Plant Based</a>
                <a href="{% url 'shop' %}?category=meats" class="dropdown-item">Meat Substitutes</a>
                <a href="{% url 'shop' %}?category=dairy" class="dropdown-item">Dairy &amp; Eggs</a>
                <a href="{% url 'shop' %}?category=grains" class="dropdown-item">Grains</a>
                <a href="{% url 'shop' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold border-right nav-link mr-5 ml-1 pr-5 product-nav" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'shop' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'shop' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'shop' %}?category=before_gone" class="dropdown-item">Before It's Gone</a>
                <a href="{% url 'shop' %}?category=new_arrivals,deals,before_gone" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>