{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    - Don't Gnocchit
{% endblock %}

{% block pageheader %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="w-75 mb-2">
                <h2 class="page-title text-center">Don't GnocchIt</h2>
            <hr class="w-75 mt-2">
                <h5 class="page-title text-center text-muted">Coming soon - Launching March 2024</h5>
        </div>
    </div>
</div>
<div class="container pt-5">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="img-container">

                <!-- Image Slider Container  -->

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ MEDIA_URL }}food-science.jpeg" class="d-block w-100" alt="The science of food nutrition">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ MEDIA_URL }}food-style1.jpeg" class="d-block w-100" alt="Restaurant quality meals delivered to your door ">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ MEDIA_URL }}weekly-plan1.jpeg" class="d-block w-100" alt="Weekly meal and nutrition plans available ">
                    </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-center main-text-right">
            <div class="row">
                <div class="col-12">
                    <p>
                        Don't have time to cook? Do you need a reliable and sustainable meal prep kit delivered to your door? Do you want to know where your 
                        food is coming from?
                    </p>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        Do you love food as much as us? Do you love keeping your body in the best condition it can be in? Are you taking part in a new diet?
                        Then choose <strong>Don't GnocchIt</strong> meals plan's. We currently cater to <strong>5</strong> different dietary streams as of now
                        with more launching soon. 
                    </p>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        Ensuring that all of your dietary requirements are met with keeping in strict guidance of the <strong>14 Major Allergens</strong>. Allowing
                        you to dine with confidence with your meal prep.
                    </p>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="row pt-5 mb-5 align-items-center">
        <div class="col-lg-6 text-center">
            <div class="row">
                <div class="col-12">
                    <p>
                        Unlike others meal preps company's we source our own supplies from local <strong>Farmer's, Butchers, Fish Mongers and Vegetable Growers</strong>
                        Giving us and you the confidence that you are fueling your body with the best food you can.
                    </p>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        Our dedicated team of Chefs, Nutritionists, Pickers, Packers and more all love <strong>Food</strong>. We dedicate our selves to 
                        deliver the highest quality products we can right to your door step.
                    </p>
                    <p>Sign up to our mailing list to see when we go live and get your names on the list to be the first to try <strong>Don't GnocchIt</strong> when we launch in <strong>March 2024</strong></p>
                </div>
                <br>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="img-container">

                <!-- Image Slider Container  -->
                
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ MEDIA_URL }}meal-1.jpeg" class="d-block w-100" alt="Restaurant quality meals directly delivered to you">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ MEDIA_URL }}food-style2.jpeg" class="d-block w-100" alt="Range of various foods from local suppliers available on your doorstep ">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ MEDIA_URL }}weekly-plan2.jpeg" class="d-block w-100" alt="Weekly nutrition plans are available delivered to your door">
                    </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <hr class="w-75">
    <div class="row align-items-center mailing-list">
        <div class="col-lg-6">
            <p class="">Want to know our latest updates at Don't GnocchIt? When we launch? Sign up to our mailing list for the latest news.</p>
        </div>

        <!-- Mail Chimp newsletter signup form. For Don't GnocchIt mailing list. All code embedded from MailChimp -->
        <div class="col-lg-5">
            <div id="mc_embed_shell">
                <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                  #mc_embed_signup{
                    background:#fff; 
                    clear: left; 
                    font: 14px Helvetica,Arial,sans-serif; 
                    width: 400px;
                }
          </style>
          <div class="sm-screen" id="mc_embed_signup">
              <form action="https://yahoo.us8.list-manage.com/subscribe/post?u=c28468595b7e89dd6edd243dd&amp;id=be24babb58&amp;f_id=000373e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                  <div id="mc_embed_signup_scroll">
                      <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                      <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div><div class="mc-field-group"><label for="mce-FNAME">First Name </label><input type="text" name="FNAME" class=" text" id="mce-FNAME" value=""></div>
          <div hidden=""><input type="hidden" name="tags" value="4896076"></div>
                  <div id="mce-responses" class="clear foot">
                      <div class="response" id="mce-error-response" style="display: none;"></div>
                      <div class="response" id="mce-success-response" style="display: none;"></div>
                  </div>
              <div aria-hidden="true" style="position: absolute; left: -5000px;">
                  /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                  <input type="text" name="b_c28468595b7e89dd6edd243dd_be24babb58" tabindex="-1" value="">
              </div>
                  <div class="optionalParent">
                      <div class="clear foot">
                          <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                      </div>
                  </div>
              </div>
          </form>
          </div>
          <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
          
        </div>
    </div>
</div>

{% endblock %}
